<html>
<head>
        <title>(not)Twitter</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'/>
        <style>
        
        .title-style{
                color: white;
                font-family: 'Pacifico', cursive;
        }
        .btn{
                font-family: 'Pacifico', cursive;
        }
        
        </style>
</head>

<body>
<!-- <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> -->
<!--HEADER-->
        
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:4C1A1A">
                <div class = "container">
                        <div class = "navbar-header">
                                <a class="navbar-brand title-style"href="https://github.com/ARKilgore/DjangoTwitterClone" style="color:white">notTwitter</a>
                        </div>
                </div>
        </nav>
<!--END HEADER-->

        <div class="content container" style="margin-top:50px" >
                <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8"style="text-align:center">
                                <div class="page-header">
                                        <h1 style="font-family: 'Pacifico', cursive">Register for notTwitter</h1>
                                </div>
                        </div>
                                     
                        <div class="col-md-2"></div>
                </div>
                <div class="row">
                                    <br>
                                     {% if errors %}
                                        {{ errors }}
                                     {% else %}
                                        <br>
                                    {% endif %}
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                                <form action="{% url 'signup'  %}" method="POST">
                                       {% csrf_token %}
                                        <label for="user_name_field">Username</label>
                                        <input name="Username" id="user_name_field" class="form-control" type="text" placeholder="What should we call you?" ></input>
                                        <label for="user_name_field" style="margin-top:10px">Email</label>
                                        <input name="Email" class="form-control" type="text" placeholder="How can we reach you?"></input>
                                        <label for="user_name_field" style="margin-top:10px">Password</label>
                                        <input name="Password" class="form-control" type="password" placeholder="How do we know it's you?"></input>
                                        <label for="user_name_field" style="margin-top:10px">Confirm Password</label>
                                        <input name="password2" class="form-control" type="password" placeholder="Just to be safe"></input>
                                        <div style="text-align:center"><input type="submit" value="Register!" class="btn btn-primary" style="margin-top:10px"></div>
                                </form>
                                <div style="text-align:center"><a class="btn btn-sm btn-default" href="{% url 'authorize' %}">Cancel and Return to Login</a></div>
                        </div>
                        <br>
                </div>
                </div>
                <div class="col-md-2"></div>
                </div>
                <br>
</body>
</html>
